[Desktop Entry]
Name=HAMRS
Comment=POTA Logging Software
Exec=/usr/local/bin/hamrs --no-sandbox
Icon=/usr/share/pixmaps/hamrs-logo.png
Terminal=false
Type=Application
Categories=Network;HamRadio;